{% extends "base.html" %}
{% block content %}
<h1>Participants for {{date}} in {{room}}:</h1>

{% for part in participants %}
    <span>{{part}}</span><br>
{% endfor %}

<img src="{{fileName}}" alt="Room {{room}} fancy map" style="width:50%; margin-left: auto; margin-right: auto;padding-top:20px;">
{% endblock %}
