{% extends "base.html" %}

{% block content %}
{% if current_user.is_anonymous %}
<h1>Hi, please log in for taking actions!</h1>
{% else %}
<h1>Hi, {{ current_user.fullname }}!</h1>
{% endif %}
{% endblock %}
