{% extends "base.html" %}

{% block content %}

<h2>Rooms occupation status on {{date}}:</h2>
<table>
  <tr>
    <th>Room</th>
    {% for hour in hours %}
    <th>{{hour}}</th>
    {% endfor %}
  </tr>
  {% for roomoccu in roomoccus %}
  <tr>
    <td>{{ roomoccu.roomName }}</td>
    {% for hour in roomoccu.roomhours %}
    {% if hour==0 %}
    <td bgcolor="#00FF00"> {{ hour }} </td> 
    {% elif hour < partthreshold %}
    <td bgcolor="#FFA500"> {{ hour }} </td> 
    {% else %} 
    <td bgcolor="#FF0000"> {{ hour }} </td> 
    {% endif %}
    {% endfor %} 
  </tr>
  {% endfor %}
</table>
{% endblock %}
